@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    /* font-family: 'Comfortaa', cursive;
    overflow: hidden;
    background: conic-gradient(from .5turn at 50% 110%, white, orange); */

    /* ********** */
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;

}

.container{
    /* border: 1px solid black; */
    height: 100vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.digitalClock{
    
    /* width: fit-content;
    padding: 10px;
    margin: auto;
    color: white;
    background: rgba(2, 2, 2, 0.306);
    border-radius: 15px; */


    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    width: 768px;
    
}

.digitalClock h1{
display: inline-block;
margin: 0 10px;
font-weight: bold;
font-size: 5rem;
}

@media (max-width:768px){
    .digitalClock h1{
        font-size: 25px;
    }

    .container{
        justify-content: center;
        align-items: center;
        display: flex;
    }
}